@import "../../global.scss";

.intro {
    background-color: white;
    display: flex;
    justify-content: left;
    background-image: url('../../../src/images/floralBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .left{
        flex: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img{
        border-radius: 45%;
        height: 475px;
        padding: 27px;
        width: 370px;
    }


    .right{
        background-color: rgba(243, 218, 147, 0.589);
        flex: 0.5;
        
        .wrapper{
            color: rgba(37, 35, 64, 0.976);
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            padding-left: 21px;
            padding-right: 21px;
            width: 100%;

            @include mobile {
                padding-left: 0;
                align-items: center;
            }

            h4{
                padding-right: 50px;
            }

            h1{
                font-size: 50px;
                margin-bottom: 10px;
                

                @include mobile{
                    font-size: 40px;
                }
            }
            h2{
                font-size: 35px;
                padding-bottom: 10px;

            }
            h3{
                font-size: 30px;

                @include mobile{
                    font-size: 30px;
                }

                span{
                    font-size: 30px;
                    color: crimson;
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }

            }
        }
        a {
            position: relative;
            left: 50%;

            img {
                margin-top: 100px;
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                to{
                    opacity: 0;
                }
            }
        }
        

    }

}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }